.colorPallete {
    position: absolute;
    bottom: -70px;
    z-index: 100;
    background-color: #FFFFFF;
    margin: 15px, 0;
    width: 300px;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
    box-shadow: inset 1px 1px 1px #dadce0, inset -1px 0 0 #dadce0, 0 1px 1px 0 rgba(60, 64, 67, .3), 0 1px 1px 1px rgba(60, 64, 67, .15);
}

.color-btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
}

.color-btn:hover {
    outline-color: black;
    cursor: pointer;
}

.yellow-button {
    background-color: #fff8b8;
    outline: 2px solid #fff8b8;
}

.pink-button {
    background-color: #faafa8;
    outline: 2px solid #faafa8;
}

.green-button {
    background-color: #e2f6d3;
    outline: 2px solid #e2f6d3;
}

.blue-button {
    background-color: #d4e4ed;
    outline: 2px solid #d4e4ed;
}

.purple-button {
    background-color: #d3bfdb;
    outline: 2px solid #d3bfdb;
}

.gray-button {
    background-color: #efeff1;
    outline: 2px solid #efeff1;
}

.white-button {
    background-color: #FFFFFF;
    outline: 2px solid #b5b5b5;
}