.input-search {
    display: flex;
    width: 600px;
    height: 50px;
    border: none;
    background-color: #f2f6fc;
}

.email-filter {
    display: flex;
    justify-content: center start;
    padding: 10px;
    width: 670px;
    height: 50px;
    background-color: #f2f6fc;
    border-radius: 30px;
}